<div class="col-lg-8">
  <div class="clearfix">
    <a href="download.backup" class="btn btn-lg btn-block btn-primary gn-btn-admin">
      <i class="fa fa-archive fa-4x"></i>
      <p data-translate="">Backup Archive</p>
    </a>
    <a href="unpublish.report.csv" class="btn btn-lg btn-block btn-success gn-btn-admin">
      <i class="fa fa-file-excel-o fa-4x"></i>
      <p data-translate="">Unpublished Metadata Report CSV</p>
    </a>
    <a href="unpublish.report.html" class="btn btn-lg btn-block btn-success gn-btn-admin">
      <i class="fa fa-file-code-o fa-4x"></i>
      <p data-translate="">Unpublished Metadata Report HTML</p>
    </a>
    <a href="admin.shared.objects" class="btn btn-lg btn-block btn-info gn-btn-admin">
      <i class="fa fa-tags fa-4x"></i>
      <p data-translate="">Shared Objects</p>
    </a>
  </div>
</div>
