<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">catalogueAdminTools</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-8">
            <div class="clearfix">
              <a
                href="admin.unpublish.report.csv"
                class="btn btn-lg btn-block btn-success gn-btn-admin"
              >
                <i class="fa fa-file-excel-o fa-4x"></i>
                <p data-translate="">Unpublished Metadata Report CSV</p>
              </a>
              <a
                href="admin.unpublish.report.html"
                class="btn btn-lg btn-block btn-success gn-btn-admin"
              >
                <i class="fa fa-file-code-o fa-4x"></i>
                <p data-translate="">Unpublished Metadata Report HTML</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
