<div class="container gcat-body-container"
  data-ng-search-form=""
  data-runSearch="true">
  <div data-ng-include="'../../catalog/views/geocat/templates/searchForm.html'"></div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="panel panel-default gcat-home-container">
        <img src="../../catalog/views/geocat/images/geocatII-web.jpg">
        <h4><span translate>recentChanges</span>  <a href="../../srv/en/rss.latest?georss=simplepoint" class="fa fa-rss-square"></a></h4>
        <ul>
          <li ng-repeat="md in lastUpdated">
            <a href="md.viewer#/full_view/{{md.getUuid()}}" gn-metadata-open="md" gn-metadata-open-selector=".gn-resultview">
              {{md.title || md.defaultTitle}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
