<nav class="navbar navbar-default navbar-fixed-top gn-top-bar" role="navigation"
     data-ng-if="!unsupportedSchema">
  

  <p class="navbar-text gn-tooltip"
    data-ng-mouseover="getSaveStatus()" title="{{savedStatus}}">
    <span data-ng-class="saveError ? 'text-danger' : ''">{{savedStatus}}</span>
  </p>
  
  <div class="pull-right">
    <!--<button type="button" class="btn btn-primary navbar-btn gn-tooltip" data-ng-click="share()"
      data-title="{{'share-help' | translate}}" data-placement="bottom">
      <i class="fa fa-lock"/>
      <span data-translate="">share</span>
    </button>-->

    <!--GEOCAT-->
    <div data-gc-lang-field-switcher title="{{'translations'|translate}}"/>
    <!--END GEOCAT-->
    <!--GEOCAT Remove these changes when editing subtemplates are in dialog in editor and shared objects UI -->
    <div data-gn-metadata-category-updater="mdCategories" data-ng-if="!isSubTemplate()"
         data-metadata-id="gnCurrentEdit.id" title="{{'categories'|translate}}"/>

    <div data-gn-metadata-group-updater="groupOwner" data-ng-if="!isSubTemplate()"
         data-metadata-id="gnCurrentEdit.id" title="{{'group'|translate}}"/>

    <div class="btn-group" data-ng-if="!isSubTemplate()">
      <!--END GEOCAT-->
      <button class="btn btn-default dropdown-toggle"
              type="button"
              data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-cog"/>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation">
          <a role="menuitem" tabindex="-1"
             data-gn-click-and-spin="startVersioning()"
             title="{{'startVersioning-help' | translate}}">
            <i class="fa fa-history"/>&nbsp;
            <span class="visible-lg" data-translate="">startVersioning</span>
          </a>
        </li>
      </ul>
    </div>

    <!--GEOCAT Remove these changes when editing subtemplates are in dialog in editor and shared objects UI -->
    <button type="button" class="btn btn-default navbar-btn" data-ng-if="!isSubTemplate()"
            title="{{'validate'|translate}}" gn-click-and-spin="validate()">
      <!--END GEOCAT-->
      <i class="fa fa-check"/>&nbsp;
      <span class="visible-lg" data-translate=""
            title="{{'validate-help' | translate}}">validate</span>
    </button>
    <!-- TODO: automatic save status -->
    <button type="button" class="btn btn-default navbar-btn gn-tooltip"
            gn-click-and-spin="cancel()"
      data-ng-mouseover="getCancelStatus()" title="{{cancelStatus}}">
      <i class="fa fa-undo"/>&nbsp;
      <span class="visible-lg" data-translate="">cancel</span>
    </button>

    <!--GEOCAT Remove these changes when editing subtemplates are in dialog in editor and shared objects UI -->
    <button type="button" class="btn btn-default navbar-btn gn-tooltip" data-ng-class="isSubTemplate()? 'btn-primary' : ''"
        title="{{'closeEditor'|translate}}" gn-click-and-spin="close()">
      <!--END GEOCAT-->
      <i class="fa fa-sign-out"/>&nbsp;
      <span class="visible-lg" data-translate="">closeEditor</span>
    </button>
    <!--GEOCAT Remove these changes when editing subtemplates are in dialog in editor and shared objects UI -->
    <div class="btn-group" title="{{(isTemplate() ? 'saveTemplate' : 'saveMetadata') | translate}}" data-ng-if="!isSubTemplate()">
      <!--END GEOCAT-->
      <button type="button"
              data-gn-click-and-spin="save(true)"
              class="btn btn-primary">
        <i class="fa fa-save"/>&nbsp;
        <span class="visible-lg">{{(isTemplate() ? 'saveTemplate' : 'saveMetadata') | translate}}</span>
      </button>
      <button type="button" class="btn btn-primary dropdown-toggle" 
      data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><a href="" title="{{(isTemplate() ? 'saveAsMetadata' : 'saveAsTemplate') | translate}}"
               data-gn-click-and-spin="switchTypeAndSave(true)">
          {{(isTemplate() ? 'saveAsMetadata' : 'saveAsTemplate') | translate}}
        </a></li>
        <li class="dropdown-header">
          <label title="{{'minorEditHelp' | translate}}">
            <input type="checkbox" data-ng-model="gnCurrentEdit.isMinor"/>
            {{'minorEdit' | translate}}
          </label>
        </li>
      </ul>
    </div>

    <div class="btn-group">
      <ul class="gn-view-menu-button nav navbar-nav">
        <!-- An empty drown down updated when form is loaded -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-eye"></i>&nbsp;
            <b class="caret"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
