<div class="geocat-header">
  <img src="/geonetwork/images/geocat_logo_li.gif" alt="geocat.ch logo">
  <img src="/geonetwork/images/bg_kopf_geocat.gif" alt="geocat.ch logo" style="float:right;">
</div>

<nav class="navbar navbar-default" role="navigation"
     data-ng-include="'../../catalog/templates/search/geocat/top-bar.html'">
</nav>

<div class="container-fluid gn-search-page" data-ng-controller="GnSearchController">
  <div class="hfull" data-ng-controller="gnsGeocat">

    <form ng-search-form="" runsearch="true" class="hfull">
      <div class="row hfull">
        <div class="col-md-3 maincol hfull">
          <div class="panel panel-primary hfull">
            <div class="panel-heading search-top">
              <div class="input-group">
                <input type="text" ng-model="searchObj.params.any" placeholder="{{'anyPlaceHolder' | translate}}"
                       typeahead="address for address in getAnySuggestions($viewValue)" typeahead-loading="anyLoading" class="form-control"
                       typeahead-min-length="1" id="anySearchField">
                <i ng-show="anyLoading" class="fa fa-refresh inner-spinner"></i>
                <span class="input-group-btn">
                  <button type="button" data-ng-click="triggerSearch()" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="panel-body geocat-search">
              <div data-ng-include="'../../catalog/templates/search/geocat/searchForm.html'"></div>
            </div>
            <!--<div class="panel-footer">
            </div>-->
          </div>
        </div>

        <div ng-class="(!collapsed) ? 'col-md-7' : 'col-md-9'" class="maincol hfull">
          <div class="panel panel-default hfull" ng-if="initial" ng-controller="gnsGeocatHome">
            <div class="panel-heading" translate>
              <h3 class="panel-title"translate>homeTitle</h3>
            </div>
            <div class="panel-body">
              <img src="http://www.geocat.ch/geonetwork/images/geocatII-web.jpg" alt=""></p>
              <h4 translate>mostPopular</h4>
              <ul>
                <li ng-repeat="md in mostPopular">
                  <a href="">{{md.title || md.defaultTitle}}</a>
                </li>
              </ul>
              <h4><span translate>recentChanges</span>  <a href="../../srv/en/rss.latest?georss=simplepoint" class="fa fa-rss-square"></a></h4>
              <ul>
                <li ng-repeat="md in lastUpdated">
                  <a href="">{{md.title || md.defaultTitle}}</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="panel panel-default hfull" ng-show="!initial">
            <div class="panel-heading">
              <button class="btn btn-default filter" ng-class="{ active: !collapsed }"
                ng-click="collapsed=!collapsed"><i class="fa fa-filter"></i></button>
              <div gn-results-tpl-switcher template-url="resultTemplate" class="pull-right"></div>
              <div gn-selection-widget results="searchResults"></div>
              <div sortby-combo params="searchObj.params"></div>
            </div>
            <span class="loading fa fa-spinner fa-spin" ng-show="searching"></span>
            <div gn-results-container search-results="searchResults" template-url="resultTemplate" map="searchObj.searchMap">
            </div>
            <div class="panel-footer">
              <div class="pull-right" hitsperpage-combo pagination-cfg="paginationInfo"></div>
              <div data-gn-pagination="paginationInfo"></div>
            </div>
          </div>
        </div>

        <div ng-class="(!collapsed) ? 'col-md-2' : 'whidden'" class="maincol hfull">
          <div class="panel panel-default hfull">
            <div class="panel-heading">
              <span data-translate>Refine search</span>
            </div>
            <div class="panel-body">
              <div data-gn-facet-breadcrumb="currentFacets"></div>
              <div data-gn-facet-list="searchResults.facet"
                data-facet-config="facetsConfig"
                data-current-facets="currentFacets">
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
