<div class="container-fluid">

  <div class="navbar-header">

    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">
      <li class=""><a href="#" translate>Overview</a></li>
      <li class=""><a href="#" translate>About</a></li>
    </ul>

    <div class="form-group navbar-right navbar-btn input-sm" gn-language-switcher="lang" data-langs="langs"></div>

    <form class="navbar-form navbar-right" role="login" action="../../j_spring_security_check" method="post" ng-if="user['@authenticated'] != 'true'">
      <div class="form-group">
        <input type="text" name="username" class="form-control input-sm" placeholder="{{ 'username' | translate }}">
        <input type="password" name="password" class="form-control input-sm" placeholder="{{ 'password' | translate }}">
      </div>
      <button type="submit" class="btn btn-default input-sm" translate>Signin</button>
    </form>

    <div ng-if="user['@authenticated'] == 'true'" class="navbar-text navbar-right">
      <span translate>Signed in as </span> {{user['username']}}
      <a ng-show="authenticated" href="../../j_spring_security_logout" title="{{'signout' | translate}}" class="navbar-link">
        <i class="fa fa-sign-out"></i>
      </a>
    </div>

  </div>

</div>
