<div class="gc-extent">

  <!--Geo Id field-->
  <div class="form-group">
    <label class="col-sm-2 control-label" translate>geoId</label>
    <div class="col-sm-10" gn-multilingual-field='{"ger":"#DE","eng":"#EN","fre":"#FR","ita":"#IT", "roh":"#RM"}'
         data-main-language="ger" expanded="false">
      <input class="form-control input-sm" lang="DE" data-ng-model="formObj.geoId.DE" >
      <input class="form-control input-sm" lang="EN" data-ng-model="formObj.geoId.EN" >
      <input class="form-control input-sm" lang="FR" data-ng-model="formObj.geoId.FR" >
      <input class="form-control input-sm" lang="IT" data-ng-model="formObj.geoId.IT" >
      <input class="form-control input-sm" lang="RM" data-ng-model="formObj.geoId.RM" >
    </div>
  </div>

  <!--Description field-->
  <div class="form-group">
    <label class="col-sm-2 control-label" translate>description</label>
    <div class="col-sm-10" gn-multilingual-field='{"ger":"#DE","eng":"#EN","fre":"#FR","ita":"#IT", "roh":"#RM"}'
         data-main-language="ger" expanded="false">
      <input class="form-control input-sm" lang="DE" data-ng-model="formObj.desc.DE" >
      <input class="form-control input-sm" lang="EN" data-ng-model="formObj.desc.EN" >
      <input class="form-control input-sm" lang="FR" data-ng-model="formObj.desc.FR" >
      <input class="form-control input-sm" lang="IT" data-ng-model="formObj.desc.IT" >
      <input class="form-control input-sm" lang="RM" data-ng-model="formObj.desc.RM" >
    </div>
  </div>

  <!--Projection combo-->
  <div class="form-group">
    <label class="col-sm-2 control-label" translate>projection</label>
    <div class="col-sm-4">
      <select class="form-control input-sm" data-ng-model="formObj.proj" ng-change="fillInput()">
        <option value="EPSG:21781" translate>CHO3 (EPSG:21781)</option>
        <option value="EPSG:4326" translate>WGS 84 (EPSG:4326)</option>
      </select>
    </div>
  </div>

  <!--Geometry field-->
    <div class="form-group" >
      <label for="geomF" class="col-sm-2 control-label"><a href="" translate data-ng-click="prop.showWKT = !prop.showWKT">geometry</a></label>
      <div class="col-sm-10" data-ng-show="prop.showWKT">
        <textarea rows="3" data-ng-model="formObj.geomString" data-ng-change="updateWKT()"
                  class="form-control input-sm" id="geomF"
                  placeholder="Description" name="description" />
      </div>
    </div>

  <!--BBOX field-->
  <div class="form-group" >
    <label class="col-sm-2 control-label" translate>bbox</label>
    <div class="col-sm-10 gn-bbox">
      <div class="">
        <div class="input-group coord coord-north">
          <input type="number" step="any"
                 data-ng-model="extent[3]"
                 data-ng-change="updateBbox(true)"
                 class="input-sm form-control" value="180">
          <span class="input-group-addon">N</span>
        </div>
        <div class="input-group coord coord-south">
          <input type="number" step="any"
                 data-ng-model="extent[1]"
                 data-ng-change="updateBbox(true)"
                 class="input-sm form-control" value="-180">
          <span class="input-group-addon">S</span>
        </div>
        <div class="input-group coord coord-east">
          <input type="number" step="any"
                 data-ng-model="extent[2]"
                 data-ng-change="updateBbox(true)"
                 class="input-sm form-control" value="-90">
          <span class="input-group-addon">E</span>
        </div>
        <div class="input-group coord coord-west">
          <input type="number" step="any"
                 data-ng-model="extent[0]"
                 data-ng-change="updateBbox(true)"
                 class="input-sm form-control" value="90">
          <span class="input-group-addon">W</span>
        </div>
      </div>
    </div>


    <!--Draw buttons-->
    <div ngeo-btn-group>
      <button class="btn btn-default" ng-model="drawInteraction.active"  ngeo-btn>
        <span class="fa fa-pencil"></span>
      </button>
      <button class="btn btn-default" ng-model="dragboxInteraction.active" ngeo-btn>
        <span class="fa fa-pencil-square-o"></span>
      </button>
      <button class="btn btn-default" data-ng-click="clearMap()">
        <span class="fa fa-trash-o"></span>
      </button>
    </div>

    <!--Map panel-->
    <div ngeo-map="map">
    </div>
  </div>
 </div>