<div ng-include src="'../../catalog/geocat-shared-objects/partials/menubar.html'"></div>
<table class="table table-condensed">
    <thead>
        <tr>
            <td>
                <span translate="">description</span>
                <i data-ng-show="loading === '-1'" class="fa fa-spinner fa-spin"></i>
                <ul class="sortbyList" data-ng-class="loading != undefined ? 'disabled' : ''" >
                    <li class="dropdown">
                        <a class="dropdown-toggle capitalized" data-toggle="dropdown" data-ng-disabled="loading != undefined">
                            <span translate>ordering&nbsp;</span>
                            <span ng-if="sort === 'desc'" translate>description</span>
                            <span ng-if="sort === refSort && reverseSort" translate>mostReferenceCount</span>
                            <span ng-if="sort === refSort && !reverseSort" translate>fewestReferenceCount</span>
                            &nbsp;<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu capitalized" data-ng-hide="loading != undefined">
                            <li data-ng-class="sort === 'desc' ? 'active' : ''"
                                data-ng-click="sort='desc'; reverseSort=false;">
                                <a id="nav-sort-desc" translate>description</a>
                            </li>
                            <li data-ng-class="sort === refSort && reverseSort ? 'active' : ''"
                                data-ng-click="sort=refSort; reverseSort=true; loadReferenceCounts(0)" >
                                <a id="nav-sort-mostReferenceCount" translate>mostReferenceCount</a>
                            </li>
                            <li data-ng-class="sort === refSort && !reverseSort ? 'active' : ''"
                                data-ng-click="sort=refSort; reverseSort=false; loadReferenceCounts(0)" >
                                <a id="nav-sort-fewestReferenceCount" translate>fewestReferenceCount</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-if="data.length == 0" >
            <td colspan="2" data-ng-show="loading === undefined"><div class="alert alert-info" translate="">noRecords</div></td>
            <td colspan="2" data-ng-show="loading === '-1'" ><div class="alert alert-info"translate="">loading</div></td>
        </tr>
        <tr data-ng-repeat="row in data | filter:search:strict | orderBy:sort:reverseSort" class="highlight-on-hover" data-ng-mouseover="select(row)" >
            <td style="width: 85%">
                <div class="data-description panel-group" id="{{data.id}}-accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a id="load-metadata-link-{{$index}}" class="accordion-toggle " data-toggle="collapse" data-parent="#accordion"
                                    data-ng-click="loadReferencedMetadata(row, 'collapse-'+$index, 'collapse-body-'+$index)">{{row.desc}}</a>
                                <i class="badge">{{row.referenceCount}}</i>
                                <i class="fa fa-spinner fa-spin" data-ng-show="loading === row.id"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapse-{{$index}}" class="panel-collapse collapse">
                        <table class="table table-condensed">
                            <tr class="metadata-list" data-ng-repeat="md in metadata[row.id]" >
                                <td class="id" style="width: 5%">{{md.id}}</td>
                                <td class="title" style="width: 60%">{{md.title}}</td>
                                <td class="name" style="width: 10%">{{md.name}}</td>
                                <td class="email" style="width: 20%">{{md.email}}</td>
                                <td style="width: 5%"><button class="show-md" type="button" class="btn btn-primary" data-ng-click="open('md.viewer#/full_view/' + md.id)">Show</button></td>
                            </tr>
                        </table>
                   <!--     <div class="panel-title">
                            <a style="text-align: left; font-size: .8em;" data-ng-repeat="md in metadata[row.id]">{{md.title}} ({{md.name}} <{{md.email}}>)</a>
                        </div>-->
                    </div>
                </div>
            </td>
            <td class="data-actions" style="width: 10%">
                <button ng-if="isDeletePage" class="action-delete btn btn-default" data-toggle="modal" ng-href="#confirmDeleteModal" translate>delete</button>
                <div ng-if="!isDeletePage" class="dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-href="#" ><span translate>actions</span>&nbsp;<span class="caret"></span></button>

                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                        <!--<li><a data-ng-click="open('geocat', {s_search:'', customFilter: luceneIndexField + '=' + row.xlink}, '_sharedObject')">{{translate('search')}}</a></li>-->
                        <li><a class="action-edit" data-ng-click="edit(row);$event.stopPropagation()" translate>edit</a></li>
                        <li ng-if="!isValidated"><a class="action-validate" data-toggle="modal" data-target="#confirmValidateModal" translate >validate</a></li>
                        <li><a class="action-non-valid-reject" data-ng-click="openRejectModal();$event.stopPropagation()">{{(!isValidated ? 'reject' : 'delete') | translate}}</a></li>
                        <li ng-if="isDeletePage"><a class="action-delete" data-toggle="modal" data-target="#confirmDeleteModal" translate >delete</a></li>
                    </ul>

                </div>
            </td>
        </tr>
    </tbody>
</table>
<div ng-include src="'../../catalog/geocat-shared-objects/partials/modal-confirm-delete.html'"></div>
<div ng-include src="'../../catalog/geocat-shared-objects/partials/modal-confirm-validate.html'"></div>
<div ng-include src="'../../catalog/geocat-shared-objects/partials/modal-reject.html'"></div>
<div ng-include src="'../../catalog/geocat-shared-objects/partials/modal-executing-operation.html'"></div>
<div ng-include src="'../../catalog/geocat-shared-objects/partials/modal-edit-common.html'"></div>


