@import "../../../style/gn_editor";


.gc-shared-object {
  .label {
    margin-left: 5px;
  }
  .dropdown-menu {
    max-height: 300px;
    overflow: auto;
  }
  .has-error button {
    color: @brand-danger;
    border-color: @brand-danger;
    z-index: 2;
  }
}

a.update-shared-object {
  margin-left: 5px;
  font-size: 80%;
}
a.update-shared-object[disabled] {
  color: @gray-light;
  cursor: not-allowed;
}


.gc-extent {
  [ngeo-map] {
    width: 100%;
    height: 400px;
  }
  .gn-multilingual-field {
    .nav > li > a {
      padding: 2px 5px;
      margin-top: 2px;
      font-size: 8px;
    }
    .label {
      line-height: 2;
      font-size: 8px;
    }
    li:first-child {
      display: none;
    }
  }

}

