@import "../../../style/gn_editor";

.gc-shared-object {
  .group-middle {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-width: 0;
  }
  .label {
    margin-left: 5px;
  }
  .dropdown-menu {
    max-height: 300px;
    overflow: auto;
  }
}
