<!--Additional extent forms input-->
<div class="gn-required" data-ng-if="templateType == 'extents'">
  <label class="gc-sharedobject-label" translate>soExtent</label>
  <div class="form-group">
    <div class="col-sm-8">
      <select class="form-control" data-ng-model="prop.extentFormat">
        <option value="GMD_BBOX" translate="">bboxOnly</option>
        <option value="GMD_COMPLETE" translate="">bboxPolygon</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <select class="form-control" data-ng-model="prop.extentTypeCode">
        <option value="true" translate="">include</option>
        <option value="false" translate="">exclude</option>
      </select>
    </div>
  </div>
</div>

<!--Main search input that trigger the shared object XML push-->
<div class="gc-shared-object" data-ng-class="{'input-group' : templateType == 'contacts' || templateType == 'extents'}">

  <!--search input-->
  <input class="form-control input-sm main-input" type="text" data-toggle="dropdown" data-ng-model="searchValue"
         data-ng-click="loadSO($event)" data-ng-change="loadSO()" placeholder="{{('searchA' + templateType) | translate}}"
          data-ng-class="{'disabled' : (templateType == 'contacts' && !role)}" ng-disabled="templateType == 'contacts' && !role"/>
  <ul data-ng-show="objects.length > 0" class="dropdown-menu" role="menu">
    <li data-ng-repeat="o in objects">
      <a href="" data-ng-click="selectEntry(o)" title="{{o.desc}}">
        <span class="label pull-right" data-ng-class="{'label-danger' : !o.validated, 'label-success' : o.validated}">&nbsp;</span>
        {{o.desc}}
      </a>
    </li>
    <li data-ng-if="objects.length >= 10"><a href="">... <em class="text-muted pull-right" translate>typeForMore</em></a></li>
    <li role="presentation" class="divider"></li>
    <li><a href="" data-ng-click="editEntry()"><b translate="">addEntry</b></a></li>

  </ul>

  <!--Contacts roles list-->
  <div data-ng-if="templateType == 'contacts'"
       title="{{'addContactAsLink-help' | translate}}"
       class="input-group-btn" data-ng-class="{'has-error': !role}">
    <button type="button" class="btn btn-default dropdown-toggle group-right" data-toggle="dropdown">
      <span data-ng-if="role">{{role.label}}</span>
      <span data-ng-if="!role" translate>role</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li data-ng-repeat="r in roles" data-ng-hide="r['@hideInEditMode']">
        <a href="" data-ng-click="setRole(r)" title="{{r.description}}">
          {{r.label}}
        </a>
      </li>
    </ul>
  </div>

  <!--Extent region type search filter list-->
  <div data-ng-if="templateType == 'extents'"
       title="{{'addContactAsLink-help' | translate}}"
       class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle group-right" data-toggle="dropdown">
      <span data-ng-if="regionType">{{regionType}}</span>
      <span data-ng-if="!regionType" translate>region</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li>
        <a href="" data-ng-click="setRegionType(undefined)" translate="">all</a>
      </li>
      <li data-ng-repeat="r in regionTypes">
        <a href="" data-ng-click="setRegionType(r)">
          {{r}}
        </a>
      </li>
    </ul>
  </div>

  <!-- The contact to insert once received -->
  <div data-ng-if="snippet">
    <input name="{{snippetRef}}" type="hidden" value="{{snippet}}"/>
  </div>
</div>

<button class="btn btn-default gc-sharedobject-addbtn" data-ng-click="addEntry(entry, role.code, true)"
        data-ng-disabled="!entry">
  <i class="fa fa-plus"/>&nbsp;<span>{{(templateType + 'AddBtn') | translate}}</span>
</button>

<div class="gn-addextent-btn">
  <button class="btn btn-default gc-sharedobject-addbtn" data-ng-if="templateType == 'extents'" data-ng-click="addExtent()">
    <i class="fa fa-plus"/>&nbsp;<span translate>addClassicExtent</span>
  </button>
</div>
