<div class="panel panel-default metadata">
  <div class="panel-heading">
    <div gc-md-actions-menu="md" class="pull-right">
    </div>
    <div ng-if="user['@authenticated'] == 'true'" class="pull-right gn-publishinfo">
      <span class="fa" data-ng-class="md.isPublished() ? 'fa-unlock' : 'fa-lock'"></span>
    </div>
    <button class="btn btn-default" ng-click="dismiss(true)" translate>backToList</button>
    {{md.title}}
  </div>
  <div class="panel-body" ng-bind-html="fragment">
  </div>
</div>
