<ul class="list-group gn-resultview">
  <li class="list-group-item result" data-ng-repeat="md in searchResults.records" gn-displayextent-onhover="" gn-zoomto-onclick
      gc-fix-mdlinks="">

    <div class="media">

      <div class="media-body">
        <div gc-md-actions-menu="md" class="pull-right">
        </div>

        <h4>

          <input data-gn-selection-md type="checkbox"
                 data-ng-model="md['geonet:info'].selected"
                 data-ng-change="change()"/>
          <span data-placement="right" gn-tooltip ng-if="md.historicalArchive === 'y'" class="fa fa-archive" title="dataset"></span>
          <span data-placement="right" gn-tooltip ng-if="md.type[0].indexOf('dataset')>=0" class="fa fa-database" title="dataset"></span>
          <span data-placement="right" gn-tooltip ng-if="md.type[0].indexOf('software')>=0" class="fa fa-hdd-o" title="software"></span>
          <span data-placement="right" gn-tooltip ng-if="md.type[0].indexOf('basicgeodata')>=0" class="fa fa-globe" title="geodata"></span>
          <span data-placement="right" gn-tooltip ng-if="md.type[0].indexOf('service')>=0" class="fa fa-globe" title="service"></span>
          <a href="md.viewer#/full_view/{{md.getUuid()}}" data-ng-click="collapsed.beforeedit = collapsed.facet; collapsed.facet=true" gn-metadata-open="md"
             gn-metadata-open-selector=".gn-resultview" title="{{md.title || md.defaultTitle}}">{{md.title || md.defaultTitle}}</a>
        </h4>

        <a class="pull-left" ng-if="md.groupWebsite" href="{{md.groupWebsite}}" target="_blank">
          <img ng-src="../..{{md.logo}}" class="media-object"/>
        </a>
        <a class="pull-left" ng-if="!md.groupWebsite">
          <img ng-src="../..{{md.logo}}" class="media-object"/>
        </a>

        <p class="text-justify" dd-text-collapse dd-text-collapse-max-length="350" dd-text-collapse-text="{{md.abstract || md.defaultAbstract}}"></p>
        <p data-ng-if="user.isUserAdminOrMore()" class="md-owner">
          (<i translate>owner</i> : <a href="{{pages.admin}}#/organization/users?userOrGroupId={{md.owner}}" target="_blank">{{md.getOwnername()}}</a>)</p>
      </div>
    </div>

    <div class="md-links">

      <div class="btn-group clearfix" ng-if="links.length > 0">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa-link"></span>
          {{links.length}}
          <ng-pluralize count="links.length" when="{'one': 'link', 'other': 'links'}"></ng-pluralize>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="link in links" title="{{link.desc || link.url}}">
            <a href="{{link.url}}" target="_blank">{{link.desc || link.url}}</a></li>
        </ul>
      </div>

      <div class="btn-group clearfix" ng-if="downloads.length > 0">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa-download"></span>
          {{downloads.length}}
          <ng-pluralize count="downloads.length" when="{'one': 'download', 'other': 'downloads'}"></ng-pluralize>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="link in downloads"  title="{{link.desc || link.url}}">
            <a href="{{link.url}}" download="{{link.desc}}">
              <span class="fa fa-file-zip-o" ng-if="link.contentType=='application/zip'"></span>
              {{link.desc || link.url}} </a></li>
        </ul>
      </div>

      <div class="btn-group clearfix" ng-if="layers.length > 0">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa-globe"></span>
          {{layers.length}}
          <ng-pluralize count="layers.length" when="{'one': 'layer', 'other': 'layers'}"></ng-pluralize>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="layer in layers"><a href="" ng-click="resultviewFns.addMdLayerToMap(layer)" title="{{layer.desc || layer.name}}">
            <span class="fa fa-google" ng-if="layer.contentType=='application/vnd.google-earth.kml+xml'"></span>
            <span class="fa fa-globe" ng-if="layer.contentType=='application/vnd.ogc.wms_xml'"></span>
            {{layer.desc || layer.name}} </a></li>
          <li data-ng-show="layers.length > 1"
              class="divider"></li>
          <li data-ng-show="layers.length > 1">
            <a href=""
               data-ng-click="resultviewFns.addAllMdLayersToMap(layers, md)">
              <i class="fa fa-plus"></i>&nbsp;
                  <span data-translate=""
                        data-translate-values="{number: '{{layers.length}}'}">
                    addAllLayersToMap</span>
            </a>
          </li>
        </ul>
      </div>

    </div>

  </li>
</ul>
