<div data-ng-controller="GnDashboardRecordLinksController">

  <div>
    <div class="row" >
      <div class=" col-lg-3 ">
        <h1 data-translate="" style = "margin-top: 0;">recordLinksDashboard</h1>
      </div>
      <div class="pull-right btn-toolbar ">
        <button type="button" class="btn btn-primary"
                title="{{'analyzeAllLinks-help' | translate}}"
                data-gn-click-and-spin="analyzeAllLinks()">
          <i class="fa fa-fw fa-cogs"/>&nbsp;
          <span data-translate="">analyzeAllLinks</span>
        </button>
      </div>
    </div>
    <p class="text-muted" data-translate="">
      recordLinksDashboardSubtitle
    </p>

  </div>

  <br/>
  <br/>

  <div style="background-color:white">

  <div data-ng-if="error" class="row">
    <div class="alert alert-danger" role="alert">
      <i class="fa fa-exclamation-triangle fa-fw"/>
      <span>{{error.description}}</span>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-3">
      <label class="control-label"
             for="gn-link-group-owner"
             data-translate="">_groupOwner</label>
      <div id="gn-link-group-owner"
           data-groups-combo=""
           data-set-default-value="false"
           data-owner-group="groupOwnerIdFilter"
           lang="lang"
           groups="groups"
           data-exclude-special-groups="true">&nbsp;
      </div>
    </div>
    <div class="form-group col-lg-3">
      <label class="control-label"
             for="gn-link-group"
             data-translate="">_groupPublished</label>
      <div id="gn-link-group"
           data-groups-combo=""
           data-set-default-value="false"
           data-owner-group="groupIdFilter"
           lang="lang"
           groups="groups_with_special_group"
           data-exclude-special-groups="false">&nbsp;
      </div>
    </div>
    <div class="form-group col-lg-3">
      <label data-ng-hide="!user.isAdministrator()">
        <span data-translate="">_orphanLink</span>
        <div>
        <input type="checkbox" data-ng-model="orphanLink">
        </div>
      </label>
    </div>
    <div class="btn-toolbar pull-right">
      <button type="button" class="btn btn-default"
              title="{{'downloadAsCsv-help' | translate}}"
              data-ng-click="downloadAsCsv()">
        <i class="fa fa-fw fa-download"/>&nbsp;
        <span data-translate="">downloadAsCsv</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-6
      <p class="text-muted data-translate="">
      linksNoGroupSelection-comment</p>
    </div>
  </div>
  <button type="button" class="btn btn-danger"
          data-ng-click="removeAll()"
          data-gn-confirm-click="{{'removeAllLinksAndStatusConfirm' | translate}}"
          data-ng-hide="!user.isAdministrator()">
    <i class="fa fa-fw fa-times"/>&nbsp;
    <span data-translate="">removeAllLinksAndStatus</span>
  </button>

  <button id="analyse"
          type="button" class="btn btn-primary"
          title="{{'analyzeLinks-help' | translate}}"
          data-gn-click-and-spin="analyzeLinks()">
    <i class="fa fa-fw fa-cogs"/>&nbsp;
    <span data-translate="">analyzeLinks</span>
  </button>

  <table id="bstable" bs-table-control="bsTableControl" ng-model="tc"/>

  <br>

  </div>

</div>
<div>
  <gn-dashboard-record-links-processes-container/>
</div>
